@import "tailwindcss";

:root {
  --background: #F7B50C;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #F7B50C;
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SVN-Gilroy', var(--font-sans, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol");
;
}


@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Regular.woff2') format('woff2'),
       url('/fonts/SVN-Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Bold.woff2') format('woff2'),
       url('/fonts/SVN-Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
